.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2{
  margin-left: 46%;
  font-family: "Lucida Calligraphy", serif;
}

.articles-ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.articles-ul li {
  background: linear-gradient(to right, #ece4fc, #b690f1);
  -webkit-background-clip: border;

  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem 1%;
  width: 250px;
  height: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.article-title {
  text-align: center;
  font-weight: bold;
  display: block;
  margin: 5px;
}

.article-description {
  display: block;
}
