form {
  width: 100%;
  display: flex;
  align-items: center;
  height: 2.5rem;
  border: 2px gray solid;
  border-radius: 30px;
  background-color: #F0F0F0;
}

input{
  width: 70%;
  height: 2rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: #F0F0F0;
}

.search-icon{
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: 'Rockwell', serif;
  background: linear-gradient(to right, #8f0589, #394bf0);
  -webkit-background-clip: text;
  color: transparent;
}

form:hover{
  outline: none;
  box-shadow: 0 0 15px #394bf0;
}

input:hover:focus{
  outline: none;
  border: none;
}







